Cython 
filelock==3.18.0
graphviz==0.20.3
ipykernel 
ipython 
joblib 
jupyter_client 
jupyter_core
matplotlib==3.10.0
matplotlib-inline
numba==0.61.2
numpy 
pandas 
peewee==3.18.1
scikit-learn 
scipy 
seaborn
torch==2.6.0
tqdm 
tqdm_joblib==0.0.4
yfinance==0.2.61

